{% extends 'blog/base.html' %}
{% load static %}

{% block msg %}
{% if messages %}
{% for message in messages %}
  <div  {% if message.tags %} class="text-center my-3 alert alert-{{message.tags}}  alert-dismissible fade show" role="alert" {% endif %}>
    <strong>{{message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endfor  %}
{% endif %}
{% endblock msg %}

{% block side %}
<div class="col-sm-2 text-center text-white my-5 border-right ">
    <h3>Profile</h3>
    <img src="{% static 'blog/images/profile.png' %}" width="100px" height="100px" alt="Profile Pic">
    <h5 class="border-bottom">{{full_name}}</h5>
</div>
{% endblock side %}

{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">Dashboard</h3>
    <a href=" {% url 'addpost' %} " class="btn btn-success">Add Post</a>
    <h4 class="text-center alert alert-info mt-3">Show Post Information</h4>
    {% if posts %}
    <table class="table table-hover bg-white">
        <thead>
          <tr>
            <th scope="col" style="width: 2%">ID</th>
            <th scope="col" style="width: 28%">TITLE</th>
            <th scope="col" style="width: 55%">Description</th>
            <th scope="col" style="width: 15%">Action</th>
          </tr> 
        </thead>
        <tbody>
            {% for post in posts %}
          <tr>
            <th scope="row">{{post.id}}</th>
            <td>{{post.title}}</td>
            <td class="text-justify">{{post.desc}} </td>
            <td class="text-center">
                <a href="{% url 'updatepost' post.id %} " class="btn btn-warning btn-sm">Edit</a>
                {% if perms.blog.delete_post %}
                <form action="{% url 'deletepost' post.id %}" method="post" class="d-inline">
                {% csrf_token %}
                <input type="submit" value="Delete" class="btn btn-danger btn-sm">
                </form>
                {% endif %}
                </td>
          </tr>
           {% endfor %}
        </tbody>
      </table>
      {% else %}
      <h4 class="alert alert-danger my-3 text-center">No Records</h4>
    {% endif %}
{% endblock content %}